@model _5Dots.Models.Companion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Companion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanionId" />
            <div class="form-group">
                <label asp-for="CompanionName" class="control-label"></label>
                <input asp-for="CompanionName" class="form-control" />
                <span asp-validation-for="CompanionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanionDescription" class="control-label"></label>
                <input asp-for="CompanionDescription" class="form-control" />
                <span asp-validation-for="CompanionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanionPrice" class="control-label"></label>
                <input asp-for="CompanionPrice" class="form-control" />
                <span asp-validation-for="CompanionPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanionQuantityStock" class="control-label"></label>
                <input asp-for="CompanionQuantityStock" class="form-control" />
                <span asp-validation-for="CompanionQuantityStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanionSale" class="control-label"></label>
                <input asp-for="CompanionSale" class="form-control" />
                <span asp-validation-for="CompanionSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" for="FormFile">File Picture:</label>
                <input type="file" class="custom-file-input my-input" name="FormFile">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
