<!-- About 1 - Bootstrap Brain Component -->

@* <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css"> *@
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="~/assets/img/closeup-support-hands.jpg" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Who Are We?</h2>
                        <p class="lead fs-4 text-secondary mb-3">Our purpose is to help every family at each stage of care.</p>
                        <p class="mb-5">We’re using technology and innovation to solve one of the greatest human challenges.</p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                                            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018" />
                                            <path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Helping you find the right fit</h2>
                                        <p class="text-secondary mb-0">Explore profiles and read what other families have to say about caregivers.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">Life Circle</h2>
                                        <p class="text-secondary mb-0">Every single person will need and/or provide care to someone in their lifetime, probably more than once.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIALS -->

<style>
    .home-testimonial {
        background-color: #57c3c3;
        height: 380px
    }

    .home-testimonial-bottom {
        background-color: #f8f8f8;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin-top: 20px;
        margin-bottom: 0px;
        position: relative;
        height: 130px;
        top: 190px
    }

    .home-testimonial h3 {
        color: black;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase
    }

    .home-testimonial h2 {
        color: black;
        font-size: 28px;
        font-weight: 700
    }

    .testimonial-inner {
        position: relative;
        top: -174px
    }

    .testimonial-pos {
        position: relative;
        top: 24px
    }

    .testimonial-inner .tour-desc {
        border-radius: 5px;
        padding: 40px
    }

    .color-grey-3 {
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2
    }

    .testimonial-inner img.tm-people {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        max-width: none
    }

    .link-name {
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        color: #6c83a2
    }

    .link-position {
        font-family: "Montserrat", Sans-serif;
        font-size: 12px;
        color: #6c83a2
    }
</style>
<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonials</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore the customer experience</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                     @foreach (var testimonial in (List<Testimonial>)(ViewBag.Testimonials))
                {
                    
                    <div class="col-md-4 style-3">
                            @{
                                string imageBase64 = Convert.ToBase64String(testimonial.User.Image);
                            }
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                    <div class="tour-text color-grey-3 text-center">@testimonial.TestimonialMessage</div>
                                    <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="data:image;base64,@imageBase64" alt=""></div>
                                <div class="link-name d-flex justify-content-center">@testimonial.User.FirstName @testimonial.User.LastName</div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
        </section>
</section>