@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container mt-5">
    <div class="row justify-content-center" style="margin-bottom: 130px;">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <div class="card-body text-center">
                    <h2 class="mb-4">@ViewData["Title"]</h2>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <p class="mb-4">Are you sure you want to log out?</p>
                            <button type="submit" class="btn btn-success w-100">Logout</button>
                        </form>
                    }
                    else
                    {
                        <p>You have successfully logged out of the application.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
