@model _Morafiq.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1>Edit</h1>

    <div>
        <h4>Cart</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" value="@Model.FirstName">
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" value="@Model.LastName">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" value="@Model.Email">
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="FormFile">File Picture:</label>
                        <input type="file" class="custom-file-input my-input" name="FormFile">
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Edit" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
